node_modules/
data/*.sqlite
data/*.db
!data/.gitkeep
.env
.DS_Store
*.log
public/js/plugins/config.override.json
client/plugins/config/config.override.json
client/plugins/plugins/extensions/*
public/js/plugins/extensions/*
!client/plugins/plugins/extensions/.gitkeep
!public/js/plugins/extensions/.gitkeep
dist/
.vite/
.idea
