node_modules/
data/*.sqlite
data/*.db
!data/.gitkeep
.env
.DS_Store
*.log
public/js/plugins/config.override.json
client/plugins/config/config.override.json
!client/plugins/extensions/.gitkeep
client/plugins/extensions
dist/
.vite/
