services:
    redis-ui:
        build:
            context: .
        ports:
            - '2222:3000'
        environment:
            - PORT=3000
        restart: unless-stopped
        volumes:
            - redis-ui-data2:/app/data

volumes:
    redis-ui-data:
        driver: local
    redis-ui-data2:
        driver: local
