services:
    redis:
        image: redis:7-alpine
        ports:
            - '6379:6379'
        command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru

    redis-ui:
        build:
            context: .
        ports:
            - '2222:3000'
        environment:
            - PORT=3000
        restart: unless-stopped
        volumes:
            - redis-ui-data:/app/data
        depends_on:
            - redis

volumes:
    redis-ui-data:
        driver: local
