{
    "plugins": [
        {
            "id": "custom-searches",
            "name": "Custom Searches",
            "enabled": true,
            "path": "extensions/customSearches/customSearches.tsx",
            "priority": 1,
            "config": {
                "searchLimit": 100
            }
        },
        {
            "id": "bookings",
            "name": "Booking Manager",
            "enabled": true,
            "path": "extensions/bookings/bookings.tsx",
            "priority": 0,
            "config": {
                "maxRetries": 3,
                "timeframeStart": -14,
                "timeframeEnd": 90
            }
        }
    ]
}
